/* COLORS */
/* GENERIC STYLES */
p.small {
  font-size: 0.85em; }

p.large {
  font-size: 1.15em; }

.mac-purple-bg {
  background-color: #b06ab3; }
  .mac-purple-bg h1, .mac-purple-bg h2, .mac-purple-bg h3, .mac-purple-bg h4, .mac-purple-bg h5, .mac-purple-bg h6 {
    color: #f6f6f6; }
  .mac-purple-bg p {
    color: #dddddd; }

/* FRONT PAGE STYLES */
div#mac-front-page-container {
  margin-top: 65px;
  padding: 0;
  background-color: #f6f6f6;
  border: #c0c0c0 1px solid;
  box-shadow: 10px 9px 5px rgba(51, 51, 51, 0.65); }
  div#mac-front-page-container div.row {
    margin: 0; }

/* LEFT COL */
div.mac-resume-left-col div.profContainer {
  text-align: center;
  padding: 35px 0 0;
  border-bottom: #dddddd 1px solid; }
  div.mac-resume-left-col div.profContainer img {
    max-width: 200px;
    margin-bottom: 20px; }

/* RIGHT COL */
div.mac-resume-right-col div.mac-info-section {
  background-color: #dddddd;
  padding: 15px;
  margin-top: 15px; }
  div.mac-resume-right-col div.mac-info-section h4 {
    font-weight: 400; }
  div.mac-resume-right-col div.mac-info-section i {
    margin-right: 0.5em; }
